
AlgorithmSln/.vs/AlgorithmSln/v16/.suo
*.testlog
*.manifest
*.exe
*.pdb
*.json
AlgorithmSln/.vs/AlgorithmSln/v16/.suo
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/001.testlog
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/testlog.manifest
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.exe
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/AlgorithmSln/obj/AlgorithmSln.csproj.nuget.dgspec.json
AlgorithmSln/AlgorithmSln/obj/AlgorithmSln.csproj.nuget.g.props
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.assets.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.AssemblyReference.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.CoreCompileInputs.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.FileListAbsolute.txt
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.GeneratedMSBuildEditorConfig.editorconfig
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.genruntimeconfig.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/apphost.exe
AlgorithmSln/AlgorithmSln/obj/project.assets.json
AlgorithmSln/AlgorithmSln/obj/project.nuget.cache
AlgorithmSln/Common/bin/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/Common/bin/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/Common/obj/Common.csproj.nuget.dgspec.json
AlgorithmSln/Common/obj/Common.csproj.nuget.g.props
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.assets.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.AssemblyReference.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.CoreCompileInputs.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.FileListAbsolute.txt
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.GeneratedMSBuildEditorConfig.editorconfig
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/Common/obj/project.assets.json
AlgorithmSln/Common/obj/project.nuget.cache
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.exe
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Common.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Common.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/nunit_random_seed.tmp
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.runtimeconfig.dev.json
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.assets.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.AssemblyReference.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.CoreCompileInputs.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.FileListAbsolute.txt
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.dll
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.GeneratedMSBuildEditorConfig.editorconfig
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.genruntimeconfig.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.pdb
AlgorithmSln/Tests/obj/project.assets.json
AlgorithmSln/Tests/obj/project.nuget.cache
AlgorithmSln/Tests/obj/Tests.csproj.nuget.dgspec.json
AlgorithmSln/Tests/obj/Tests.csproj.nuget.g.props
AlgorithmSln/.vs/AlgorithmSln/v16/.suo
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/001.testlog
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/testlog.manifest
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.exe
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/AlgorithmSln/obj/AlgorithmSln.csproj.nuget.dgspec.json
AlgorithmSln/AlgorithmSln/obj/AlgorithmSln.csproj.nuget.g.props
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.assets.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.CoreCompileInputs.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.FileListAbsolute.txt
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.genruntimeconfig.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/apphost.exe
AlgorithmSln/AlgorithmSln/obj/project.assets.json
AlgorithmSln/AlgorithmSln/obj/project.nuget.cache
AlgorithmSln/Common/bin/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/Common/bin/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/Common/obj/Common.csproj.nuget.dgspec.json
AlgorithmSln/Common/obj/Common.csproj.nuget.g.props
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.assets.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.CoreCompileInputs.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.FileListAbsolute.txt
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/Common/obj/project.assets.json
AlgorithmSln/Common/obj/project.nuget.cache
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.exe
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Common.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Common.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/nunit_random_seed.tmp
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.runtimeconfig.dev.json
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.assets.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.CoreCompileInputs.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.FileListAbsolute.txt
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.dll
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.genruntimeconfig.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.pdb
AlgorithmSln/Tests/obj/project.assets.json
AlgorithmSln/Tests/obj/project.nuget.cache
AlgorithmSln/Tests/obj/Tests.csproj.nuget.dgspec.json
AlgorithmSln/Tests/obj/Tests.csproj.nuget.g.props
AlgorithmSln/.vs/AlgorithmSln/v16/.suo
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/001.testlog
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/testlog.manifest
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.exe
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/.vs/AlgorithmSln/v16/.suo
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/001.testlog
AlgorithmSln/.vs/AlgorithmSln/v16/TestStore/0/testlog.manifest
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.exe
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/AlgorithmSln/bin/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/AlgorithmSln/obj/AlgorithmSln.csproj.nuget.dgspec.json
AlgorithmSln/AlgorithmSln/obj/AlgorithmSln.csproj.nuget.g.props
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.assets.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.CoreCompileInputs.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.csproj.FileListAbsolute.txt
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.dll
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.genruntimeconfig.cache
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/AlgorithmSln.pdb
AlgorithmSln/AlgorithmSln/obj/Debug/netcoreapp3.1/apphost.exe
AlgorithmSln/AlgorithmSln/obj/project.assets.json
AlgorithmSln/AlgorithmSln/obj/project.nuget.cache
AlgorithmSln/Common/bin/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/Common/bin/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/Common/obj/Common.csproj.nuget.dgspec.json
AlgorithmSln/Common/obj/Common.csproj.nuget.g.props
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.assets.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.CoreCompileInputs.cache
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.csproj.FileListAbsolute.txt
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.dll
AlgorithmSln/Common/obj/Debug/netcoreapp3.1/Common.pdb
AlgorithmSln/Common/obj/project.assets.json
AlgorithmSln/Common/obj/project.nuget.cache
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.exe
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/AlgorithmSln.runtimeconfig.dev.json
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Common.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Common.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/nunit_random_seed.tmp
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.dll
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.pdb
AlgorithmSln/Tests/bin/Debug/.netcoreapp,version=v3.1/Tests.runtimeconfig.dev.json
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.assets.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.CoreCompileInputs.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.csproj.FileListAbsolute.txt
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.dll
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.genruntimeconfig.cache
AlgorithmSln/Tests/obj/Debug/.netcoreapp,version=v3.1/Tests.pdb
AlgorithmSln/Tests/obj/project.assets.json
AlgorithmSln/Tests/obj/project.nuget.cache
AlgorithmSln/Tests/obj/Tests.csproj.nuget.dgspec.json
AlgorithmSln/Tests/obj/Tests.csproj.nuget.g.props
*.v2
Project/.vs/Algorithm/v16/.suo
Project/.vs/Algorithm/v16/.suo
Project/.vs/Algorithm/v16/.suo
*.cache
*.cache
